.searchBarContainer{
    padding: 0;
}
.searchBarInnerContainer--bar{
    max-width: 100%;
}
.searchBarInnerContainer--bar :global(.vtex-input-prefix__group){
    border-radius: 0px 5px 5px 0px;
    height:38px
}
.searchBarInnerContainer--bar--opened :global(.vtex-input-prefix__group){
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 ,157 ,0 ,.5);
    z-index: 2000;
}
.searchBarInnerContainer--barMobile{
    min-width: 100%;
}

.searchBarIcon--bar--external-search{
    background-color: #febd69 
}
.searchBarIcon--barMobile--external-search{
    background-color: #febd69 
}

.sizeDesktop{
    min-width: 15px;
    justify-content: left;
    align-items: center;
    display: inline-block;
    padding: 0px
}
.sizeMobile{
    padding: 0;
    min-width: 0;
}
.container{
    padding:0;
    margin:0
}




/* about us */

.infoCardContainer{
    flex-direction: row-reverse;
}
.infoCardHeadline--info-card-example{
    font-size: initial;
    text-align: inherit;
}
.infoCardHeadline--info-card-example:hover{
    text-decoration: underline;
}
.infoCardCallActionContainer--info-card-example{
    display: none;
}
.infoCardContainer--info-card-example{
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-bottom: 1px solid #dbdde1;
    border-left: 1px solid #dbdde1;
    height: 100%;
    padding: 15px 20px;
}
.infoCardImage--info-card-example{
    width: 140px;
}
.infoCardImageContainer--info-card-example{
    width: fit-content;
}