.searchBarContainer{
    padding: 0;
}
.searchBarInnerContainer--bar{
    max-width: 100%;
}
.searchBarInnerContainer--bar :global(.vtex-input-prefix__group){
    height:39px
}
.searchBarInnerContainer--barMobile{
    min-width: 100%;
}

.searchBarIcon--bar--external-search{
    background-color: #febd69 
}
.searchBarIcon--barMobile--external-search{
    background-color: #febd69 
}

.sizeDesktop{
    min-width: 15px;
    justify-content: left;
    align-items: center;
    display: inline-block;
    padding: 0px
}
.sizeMobile{
    padding: 0;
    min-width: 0;
}
.container{
    padding:0;
    margin:0
}