.link{
    align-items: left;
    text-decoration: none;
    color:rgb(2, 143, 143);
    padding: 0 5px  ;
}
.link--loginFootCont{
    font-size: 10px;
}
.link:hover{
    color:rgb(2, 18, 143);
    text-decoration: underline;
}
.label--mobileWelcome{
    display: flex;
}