/* .flexRowContent--home__section--one{
    background-color: brown;
} */
.flexCol--section__two--item :global(.vtex-store-link-0-x-buttonLink){
    background:green
}
 /* .flexRow--productSlider--head{
    max-width: 75vw;
} */
.flexRow--productSlider--head :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}



.flexCol--Home-ideas--Block{
    display: flex;
    height: 130px;
    overflow: hidden;
}
.flexCol--Home-ideas--Block :global(.vtex-store-link-0-x-link){
    text-decoration: none;
    color:rgb(72, 72, 72);
    font-size: 10px;
}
.flexCol--homeInfoFirst{
    background-color:#ffff;
    max-height:420px;
    justify-content: space-between;
    margin: 10px;
    padding-top: 5px;
}

.flexColChild--homeInfoFirst{
    display: flex;
    /* justify-content: center; */
    margin-bottom: 10px;
}
.flexColChild--homeInfoLogin :global(.vtex-button){
    background-color: #FFD814;
    margin: 7px 0;
    min-height:20px
}
.flexColChild--homeInfoLogin :global(.vtex-login-2-x-label){
    color: #000;
}
.flexCol--homeInfoLogin{
    background-color:#ffff;
    position: absolute;
    top: 16px;
    max-height: 118px;
    max-width: 300px;
}
.flexCol--notSlider{
    position: absolute;
    top: 290px;
    height:auto
}







.flexRow--ImageCont{
   padding-left: 28px;
}
.flexRow--ImageContPriss{
    padding-left: 10px;
    padding-right: 10px;
 }
.flexRow--homeInfoFirst{
    background-color:#ffff;
    max-height:420px;
    min-height: 413px;
    justify-content: space-between;
    margin: 10px;
    padding-top: 5px;
}
.flexRow--homeInfoSecond{
    background-color:#ffff;
    max-height:420px;
    min-height: 413px;
    justify-content: space-between;
    margin: 10px;
    padding-top: 5px;
}
.flexRowContent--homeInfoSecond{
    min-height: 400px;
}
.flexRow--home_ideas-BlockPrices{
    width: 30px;
    color:rgb(174, 170, 170)
}
.flexRowContent--InfoContainer{
    background-color:#0000;
    height: 420px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    padding-right: 10px;
    min-width: 290px;
    max-width: 100%;
    margin-top: 10px;
}
.flexRow--InfoContainer{
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 420px;
    flex: 1 0 290px;
    padding-left: 10px;
    overflow: auto;
    padding-right: 10px;
    min-width: 290px;
    max-width: 100%;

}
.flexRow--pricelessCont{
    /* border: 1px solid blue; */
    padding:10px 0;
}
.flexRow--sliderContent{
    background-color:#ffff;
    display: flex;
    justify-content: space-evenly;
    max-width: 98%;
    position: relative;
    padding: 20px 10px;
    margin:13px
}
.flexRow--Big{
    position: relative;
}
.flexRowContent--Big{
    display: flex;
    align-items: start!important;
    min-height: 5280px;
}
.flexRow--loginFootCont{
    background-color:white;
    min-height: 130px;
    display: flex;
    justify-content: center;
}
.flexRow--loginFootCont :global(.vtex-button){
    background-color: #FFD814;
    margin: 7px 0;
    min-height:20px;
    min-width: 233px;
}
.flexRow--productsCont{
    margin-bottom: 10px;
}





/* MOBILE */

.flexRow--mobile__slider{
    position: relative;
    width:max-content;
    z-index:1
}
.flexRow--bullet-group{
    position: absolute;
    justify-content:flex-start;
    top:365px;
    display: flex;
    text-align: center;
    overflow-x:scroll;
    height:300px;
    width:100vw;
}
.flexRow--bullet-group::-webkit-scrollbar{
    background-color:transparent;
}
.flexRow--bullet-group :global(.vtex-slider-layout-0-x-slide){
    max-width: fit-content;
}
.flexRow--bullet-group :global(.vtex-slider-layout-0-x-sliderTrack){
    padding: 0px 5px;
    justify-content:flex-start
}
.flexRow--bullet-group :global(.vtex-slider-layout-0-x-slideChildrenContainer){
    justify-content:flex-start;
    margin: 0 5px;
}


.flexCol--mobileShowcase1{
    display: flex;
    background-color:#fff;
    margin: 0.5rem 0;
    padding:1rem;
    overflow:auto;
    flex-flow: column wrap;
}
.flexCol--mobileShowcase2{
    display: flex;
    background-color:#fff;
    margin: 0.5rem 0;
    padding:1rem;
    overflow:auto;
    flex-flow: column wrap;
}
.flexCol--mobileShowcase3{
    display: flex;
    background-color:#fff;
    margin: 0.5rem 0;
    padding:1rem;
    overflow:auto;
    flex-flow: column wrap;
}
.flexCol--mobileVideoCase1{
    display: flex;
    background-color:#fff;
    margin: 0.5rem 0;
    padding:1rem;
    overflow:auto;
    flex-flow: column wrap;
    
}
.flexCol--mobileVideoCase1::-webkit-scrollbar{
    background-color:transparent;
}
.flexCol--categorySlider1{
    display: flex;
    background-color:#fff;
    margin: 0.5rem 0;
    padding:1rem;
    overflow:auto;
    flex-flow: column wrap;
}


.flexCol--bullet__group--loginCont{
    display: flex;
    background-color:#fff;
    margin: 0.5rem 0;
    padding:1rem;
    overflow-x:hidden;
    width:100%;
    flex-flow: column wrap;
}
.flexCol--bullet__group--loginCont :global(.vtex-login-2-x-buttonLink) {
    display: flex;
    width:100%
}
.flexCol--bullet__group--loginCont :global(.vtex-button) {
    display: flex;
    width:100%;
    background-color:rgb(204, 253, 68);
}.flexCol--bullet__group--loginCont :global(.vtex-button):hover{
    display: flex;
    width:100%;
    background-color:rgb(204, 253, 68);
}
.flexCol--bullet__group--loginCont :global(.vtex-login-2-x-label) {
    display: flex;
    width:100%;
    color: #000;
}
.flexCol--sliderShowcase1--columns{
    margin-right: 15px;
}
.flexCol--discountLeft{
    width: 170px!important
}

