.paragraph--rich-text--homeInfo{
    font-weight: 700;
    text-align: left;
    color: black;
    font-size: 24px!important;
    line-height: 27.3px!important;
    padding-left: 10px;
    min-height: 54px;
}
.paragraph--rich-text--homeLogin{
    font-weight: 700;
    text-align: left;
    color: black!important;
    font-size: 23px!important;
    line-height: 27.3px!important;
    padding-left: 15px;
    padding-top: 10px;
}
.paragraph--rich-text--showcaseProduct--cents{
    color: black!important;
    font-size:10px !important;
    align-items: baseline;
}
.paragraph--rich-text--showcaseProduct--price{
    color: black!important;
    padding-left: 15px;
}
.paragraph--rich-text--showcaseProduct--prev{
    color: black!important;
    padding-left: 15px;
}
.paragraph--rich-text--showcaseProduct--PVPR{
    color: black!important;
    padding-left: 15px;
}

.paragraph--recomendaciones{
    color: black!important;
    font-size:14px!important
}
.paragraph--nuevo{
    color: black!important;
    font-size:10px!important
}
.paragraph--home__searchResult{
    display: inline-block;
    width: 100%;
    white-space: normal;
    color: black!important;
    font-size:16px!important;
    font-weight: 700;
    text-transform: none;
    /* letter-spacing: 0;
    line-height: 1.3em !important;
    max-height: 2.6em; */
}
.paragraph--component{
    display: inline-block;
    width: 100%;
    white-space: normal;
    color: black!important;
    font-size:16px!important;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.3em !important;
    max-height: 2.6em;
}
.paragraph--component1{
    display: inline-block;
    width: 100%;
    white-space: normal;
    color: black!important;
    font-size:16px!important;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.3em !important;
    max-height: 2.6em;
    margin-left: 10px;
    text-overflow: ellipsis;
}
.paragraph--mobileWelcome{
    display: inline-block;
    width: 100%;
    white-space: normal;
    color: black!important;
    font-size:16px!important;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.3em !important;
    max-height: 2.6em;
}
.paragraph--mobileWelcome2{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    color: black!important;
    font-size:16px!important;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1.3em !important;
    max-height: 2.6em;
}
.paragraph--RedDiscount{
    display:flex;
    justify-content:flex-start;
    background-color:#CC0C39;
    letter-spacing: 0;
    margin-left: 10px;
    line-height: 2.3em !important;
    padding:0px 5px
}
.paragraph--oferta{
    color:#CC0C39;
    letter-spacing: 0;
    line-height: 2.3em !important;
    padding:0 5px;
    margin-left: 5px;
}
.paragraph--Cecotec{
    color:#000;
    letter-spacing: 0;
    line-height: 1.3em !important;
    padding:3px 5px;
    margin-left: 5px;
}