/* .flexRowContent--home__section--one{
    background-color: brown;
} */
.flexCol--section__two--item :global(.vtex-store-link-0-x-buttonLink){
    background:green
}
 /* .flexRow--productSlider--head{
    max-width: 75vw;
} */
.flexRow--productSlider--head :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
}
.flexCol--Home-ideas--Block{
    display: flex;
    height: 130px;
    border: 1px solid red;
}
.flexCol--Home-ideas--Block :global(.vtex-store-link-0-x-link){
    text-decoration: none;
    color:rgb(72, 72, 72);
    font-size: 10px;
}
.flexRow--home_ideas-BlockPrices{
    width: 30px;
    color:rgb(174, 170, 170)
} 