.sliderRightArrow{
    background: #f7f9fa!important;
    min-width: 68px;
    min-height: 120px;
    border-radius: 2px;
    box-shadow: -2px 2px 6px darkgrey;
}
.sliderLeftArrow{
    background: #f7f9fa!important;
    min-width: 68px;
    min-height: 120px;
    border-radius: 2px;
    box-shadow: 2px -2px 6px darkgrey;
}
.sliderRightArrow--home__slider{
    position: absolute;
    background: #0000!important;
    top:0;
    min-width: 68px;
    min-height: 285px;
    border-radius: 2px;
    box-shadow: -2px 2px 6px #0000 ;
}
.sliderLeftArrow--home__slider{
    position: absolute;
    background: #0000!important;
    top: 0;
    min-width: 68px;
    min-height: 285px;
    border-radius: 2px;
    box-shadow: 2px -2px 6px #0000;
}
