.flexRow--footerCont{
    display: flex;
    background-color:#37475A;
    justify-content: center;
    width: 100vw!important;
    cursor: pointer;
}
.flexRow--footerContBig{
    display: flex;
    justify-content: center;
    background-color: #232F3E;
}
.flexRow--paisesCont{
    border-top: .5px solid #ddd;
}
.flexRowContent--paisesCont{
    justify-content: space-evenly;
    align-items: center;
}
.flexRowContent--footerCont{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexRowContent--footerLinklist{
    align-items: flex-start!important;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.flexRowContent--footerContMini{
    justify-content:space-evenly;
}
.flexRowContent--footerContTerminos{
    padding-top: 20px;
    justify-content:center;
}




.flexCol--footerContTerminosBig{
    background-color:#131A22;
    padding: 30px 0;
    margin: 30px 0 0;
}
.flexCol--paisesContAfter{
    padding-top: 50px;
    padding-bottom: 20px;
    justify-content:center;
    align-items:center
}
.flexCol--Linklist1Cont{
    max-width: 163px;
}
.flexCol--Linklist1ContBig{
    max-width: 170px;
}
