.link--footerBtn:hover{
    border: 1px solid transparent;
    text-decoration: none!important;
}
.link--footerBtn{
    display: flex;
    justify-content: center;
    width: 100vw!important;
    cursor: pointer;
}
.link--paisesCont:hover{
    text-decoration:white underline!important;
    text-decoration-thickness: 3px;
}
.link--footerLinklist{
    padding: 0 !important;
}
.link--footerLinklist:hover{
    text-decoration:white underline!important;
    text-decoration-thickness: 3px;
}   
.link--footerContTerminos:hover{
    text-decoration:white underline!important;
    text-decoration-thickness: 3px;
} 
.link--footerContMini:hover{
    text-decoration:white underline!important;
    text-decoration-thickness: 3px;
}
.link--login__mobile:hover{
    border-color: #0000;
    text-decoration: none !important;
}
.link--linksListMobile:hover{
    border-color: #0000;
    text-decoration: none !important;
} 
.link--linkLoginMobile:hover{
    border-color: #0000;
    text-decoration: none !important;
} 
.link--linkLoginMobile:hover{
    border-color: #0000;
    text-decoration: none !important;
} 
.link--footerTerminosMobile:hover{
    border-color: #0000;
    text-decoration: none !important;
} 

