.flexCol--filterDepartment{
    width: 300px !important;
}
.flexCol--filterDepartment :global(.vtex-checkbox__container){
    color: #000;
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 ,157 ,0 ,.5);
}
.flexCol--filterDepartment :global(.vtex-checkbox__input){
    color: #000;
    border:2px solid #f90 !important
}
.flexCol--filterDepartment :global(.vtex-checkbox__container):focus{
    background-color:#8f8d8d;
}
.flexCol--valoradosCol :global(.vtex-store-components-3-x-productDescriptionTitle){
    display:none
}

.flexRowContent--content-search-result{
    align-items: stretch
}
.flexRowContent--content-search-result :global(.vtex-product-summary-2-x-container){
    height:fit-content;
    /* overflow:visible */
}
.flexRow--productCont :global(.vtex-button){
    background-color:#007777
}