.flexCol--filterDepartment{
    width: 300px !important;
    border-right: 1px  solid #8f8d8d;
}
.flexCol--filterDepartment :global(.vtex-checkbox__container){
    color: #000;
    box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgb(255 ,157 ,0 ,.5);
}
.flexCol--filterDepartment :global(.vtex-checkbox__input){
    color: #000;
    border:2px solid #f90 !important
}
.flexCol--filterDepartment :global(.vtex-checkbox__container):focus{
    background-color:#8f8d8d;
}
.flexCol--valoradosCol :global(.vtex-store-components-3-x-productDescriptionTitle){
    display:none
}

.flexRowContent--content-search-result{
    align-items: flex-start !important
}
.flexRowContent--content-search-result :global(.vtex-product-summary-2-x-container){
    height:fit-content;
    /* overflow:visible */
}
.flexRow--productCont :global(.vtex-button){
    background-color:#007777
}




/* subDepartment */

.flexRowContent--subDepartamento__cont{
    justify-content: center;
    width: 450px;
}
.flexRowContent--subDepartamento__cont :global(.vtex-search-result-3-x-galleryItem--whole){
    padding:0 !important;
    display: flex;
    flex-basis: fit-content!important;
    max-width: fit-content !important;
    min-height: 281px;
    align-items: center;
}
.flexRowContent--subDepartamento__cont :global(.vtex-search-result-3-x-gallery){
    flex-wrap: nowrap;
    flex-direction: column;
}