.openIconContainer{
    padding: 0;
    padding-left: 0.75rem!important;
}
.drawer{
    max-width: 300px !important;
}
.closeIconContainer{
    position:absolute;
    right:0;
}
.closeIcon{
    color: #ffff
}