.paragraph{
    margin: 0px;
    font-size: 14px;
    width:auto;
    color: #ffff;
    line-height: normal !important;
}
.paragraph--rich-text--homeInfo{
    margin: 0px;
    font-size: 15px;
    width:auto;
    color: #000;
}
.paragraph--font{
    font-size: 11px;
}
.paragraph--deptosMenu{
    color: rgb(11, 0, 0);
}
.paragraph--ez{
    margin: 0px;
    font-size: 15px;
    font-weight: 700;
    width: auto;
}
.paragraph--todo{
    margin: 0px;
    font-size: 15px;
    font-weight: 700;
    width: 50px;
}
.paragraph--Departamentos{
    margin: 0px;
    font-size: 12px;
    font-weight: 300;
    color: rgb(65, 64, 64);
}
.paragraph--Font{
    font-weight: 700;
}
.paragraph--Departamentos:hover{
    color: #000;
}
.paragraph--mobile__Cell2{
    min-width:max-content
}
.wrapper--minicartTitle{
    color: #000;
}
.container--ez{
    justify-content: center;
}
.container--minicartTitle{
    justify-content: center;  
}
.heading-level-3{
    margin: 0px;
    font-size:15px;
    padding: 0;
}
.wrapper--deptosMenu{
    padding-top: 5px;
    border-top: 1px solid #dbdde1
}
.paragraph--deptosMenu{
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #111;
    text-transform: capitalize;
    display: inline-block;
    padding-right: 20px;
    padding-left: 26px;
    padding-top: 13px;
    overflow-x: visible;
    white-space: nowrap;
}
.paragraph--deptosMenuTrigger{
    text-decoration: none;
    color: #111;
    padding-right: 20px;
    padding-left: 26px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.paragraph--header__countdown{
    text-align: center;
    font-size: 1.5rem;
}