.openIconContainer{
    padding: 0;
    padding-left: 0.75rem!important;
}
.drawer{
    max-width: 350px !important;
    background-color:#ffff
}
.closeIconContainer{
    position:absolute;
    right: -50px;
    background-color: #8080804f;
}
.closeIcon{
    color: #ffff
}
.closed :global(.vtex-store-drawer-0-x-closeIconContainer){
    display:none
}
.childrenContainer--music{
    display: flex;
    flex-direction: column;
}
.drawerTriggerContainer{
    display: flex;
    justify-content:space-between
}
.drawerContent{
}