.flexRow--main-header-mobile{
    background-color:#232f3e;
    font-size: 12px;
    line-height: 1em;
}
.flexRow--barContainer{
    width: 480px
}
.flexRow--barContainerMobile{
    background-color:#232f3e;
    padding: 0 5px;
    padding-bottom: 3px;
}
.flexRow--icon{
    width:20px !important
}
.flexRowContent{
    display: flex;
    align-items: center;
}
.flexRowContent--desktop2{
    max-height: 40px;
    width:auto;
    white-space:nowrap;
    justify-content: flex-start;
}
.flexRowContent--desktop1{
    min-height: 60px;
    justify-content: center;
}

.flexRowContent--spacer{
    width: fit-content;
}
.flexRowContent--ez{
    width: fit-content;
}
.flexRowContent--ez :global(.vtex-store-components-3-x-sizeDesktop){
    min-width: 100px;
}

.flexRow--desktop2{
    width: 100%;
    
}
.flexRow--desktop2{
    width: 100%;
}
.flexRow--mobile__Cell2{
    overflow-x:scroll;
    background-color:#232f3e;
}
.flexRow--mobile__Cell2::-webkit-scrollbar{
    background-color:transparent;
}
.flexRow--spacer{
    width: auto;
}
.flexRow--cart{
    width:93%
}
.flexRow--login__mobile{
    justify-content:flex-end
}
.flexRow--login__mobile :global(.vtex-button):hover{
    border-color: #0000!important;
    text-decoration: none !important;
}
.flexRow--mobile__Cell3{
    justify-content: space-evenly;
    min-width: 150px;
}
.flexRowContent--minicartProducts-desktop{
    display:flex;
    align-items: center;
    justify-content:center;
    margin:0;
    flex-direction: column;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}
.flexRowContent--minicartProducts-desktop :global(.vtex-product-list-0-x-productPriceCurrency){
    display: flex;
    justify-content: center
}




.flexCol--envios{
    width: min-content;
}
.flexCol--locate{
    align-items: center;
}
.flexCol--minicartProducts-content{
    justify-content:center;
    align-items: center;
}
.flexCol--minicartProducts-content :global(.vtex-product-list-0-x-productPrice){
    text-align: center;
}
.flexColChild--minicartProducts-content{
    text-align: center;
}


/* Drawer */

.flexCol--loginDrawer{
    background-color: #232f3e;
    height: 50px;
    align-items: flex-start;
    padding-left: 30px;
}
.flexCol--loginDrawer :global(.vtex-login-2-x-profile) {
    max-width: 160px !important;
    display: inline-block;
    white-space: nowrap;
    font-size: 19px;
    line-height: 25px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0!important;
}
.flexCol--loginDrawer :global(.vtex-login-2-x-profileIcon) {
    height: 25px;
    width: 27px;
}

.flexColChild--drawerMenu{
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
}